p {
    padding-bottom: 22px;
}

hr {
  border-color: #D3D3D3;
  border-width: 0.5px;
}

.detail {
    &__split {
      margin-top: 8px;

      &-right {
        float: left;
        display: block;
        width: 100%;
      }
      &-left {
        float: left;
        text-transform: uppercase;
      }

      &::after {
        clear: both;
        display: block;
        content: ' ';
      }
    }

    &__container {
      padding-left: 32px;
      padding-right: 32px;
      width: 100%;
      margin: auto;
    }

    &__sidebar {
      position: relative;
      width: 25%;
      height: 100px;
      background-color: #FFCCCC;
      float: left;
      margin-left: 15px;
    }

    &__header {
        width: 100%;
        font-size: 18px;
    }

    &__text {
        width: 70%;
        font-size: 18px;
        float: left;

        &--title {
            color: black;
            font-size: 30px;
            text-align: left;
            width: 100%;
            padding-bottom: 8px;
        }

        &--summary {
          font-style: italic;
          margin-top:12px;
          color: #696969;
          font-size: 18px;
        }

        &--container {
          margin-top: 40px;
          width: 100%;
          float: left;
        }
    }

    &__img {
        width: 100%;
        padding-right: 36px;
        padding-left: 36px;
        height: 600px;
        margin-top:10px;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        background-clip: content-box;

        &--text {
            color: black;
        }

        &--spacer {
          height: 600px;
          width: 100%;
          display: block;
        }
    }
}

@media (min-width: 760px) {
  .detail__container {
    width: 1100px;
  }

  .detail__text--container {
    width: 100%;
  }

  .detail__split-right {
    float: right;
    display: inline;
    width: auto;
  }
  .detail__text--title {
    font-size: 42px;
  }
  .detail__img {
      width: 100%;
      padding-right: 120px;
      padding-left: 120px;
      height: 600px;
      margin-top:10px;
      background-color: black;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      background-clip: content-box;
  }
}
