{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/simple0.css' %}">
    <title>{{ page.title }}</title>
{% endblock %}

{% block content %}
    <div class="header header__img" style="background-image: url('/media/{{ page.img }}');">
        <div class="header__container">
            {% if page.dark_title %}
            <div class="header__title" style="color: black !important;">
                {{ page.title }}
            </div>
            {% else %}
            <div class="header__title">
                {{ page.title }}
            </div>
            {% endif %}
            <div class="header__summary">{{ page.summary }}</div>
            <div class="header__author">By {{ page.author }}</div>
        </div>
    </div>
    <div class="detail__text">
        {{ page.content | safe }}
    </div>
{% endblock %}