{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/simple0.css' %}">
{% endblock %}

{% block content %}
    <!--
    <div class="detail__split">
        <div class="detail__split-right">
            jfjdf
        </div>
        <div class="detail__split-left">
                jdfjd
        </div>
    </div>
    -->
    <div class="header header__img" style="background-image: url('/media/{{ page.img }}');">
        {% if page.dark_title %}
        <div class="header__title" style="color: black !important;">
            {{ page.title }}
        </div>
        {% else %}
        <div class="header__title">
            {{ page.title }}
        </div>
        {% endif %}
    </div>
    <div class="detail__text">
        <p>by {{ page.author }}</p>
        {{ page.content | safe }}
    </div>
{% endblock %}