{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
    <h3>Contact us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed aliquam dui. Etiam vitae sagittis elit. Morbi eu sodales eros. Sed ut justo libero. Maecenas in euismod dui. Fusce mollis tortor vel mi vestibulum sollicitudin. Donec ac rutrum justo. Suspendisse accumsan massa vel sapien posuere, id scelerisque urna efficitur. Nam neque magna, euismod eget felis posuere, commodo pellentesque libero.

Nulla porttitor ante at velit gravida facilisis. Aenean porttitor et mi id auctor. In quis rutrum massa. Cras luctus elit magna, ut tincidunt urna semper et. Aliquam vulputate mattis arcu. Aenean nulla tortor, ornare id augue quis, luctus lobortis ex. Quisque viverra nulla quis nunc tempus imperdiet. Praesent pharetra ac lacus eu condimentum. Donec vitae turpis ac nibh efficitur porta sit amet ac augue. Morbi mi eros, placerat egestas egestas id, eleifend eget risus.

Nam dictum metus sit amet dui euismod efficitur. Vivamus sed massa egestas, pharetra enim mattis, lobortis tortor. Ut in porttitor elit, sed lacinia nisi. Aenean rhoncus facilisis iaculis. Ut nibh nisi, varius sed molestie eleifend, ultricies eget lectus. Proin quis dictum leo. Sed laoreet sem vitae quam iaculis, sit amet pretium tellus euismod.

Nullam blandit nisl sed tortor posuere pharetra.
        Etiam tempor, magna ut lobortis semper,
        ipsum enim efficitur nunc, ac imperdiet
        magna neque ac mauris. Vestibulum viverra
        neque eu imperdiet faucibus. Sed viverra
        dolor vitae tincidunt ornare. Ut eu ultrices
        massa, quis fringilla nibh. Ut posuere
        libero vel faucibus malesuada. Etiam
        ultricies ullamcorper ex, quis pretium augue
        consectetur tincidunt. Etiam elementum erat
        at sem mollis ultricies. Donec luctus sed
        velit in congue. Aenean sed elementum elit,
        eget ullamcorper mauris. Praesent dolor orci,
        elementum sed luctus pharetra, pulvinar et
        dolor. Nam id mattis magna. Curabitur congue
        interdum dui, ut molestie nulla commodo tincidunt.</p>
{% endblock %}