{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
        <div class="spacer"></div>
        <div class="float-wrap">
            <div class="image__wrap">

                {% if not page.html %}
                    {% if not page.content %}
                        <a href="/projects/{{ first.slug }}">
                    {% else %}
                        <a href="{% url 'pages:page_detail' first.slug %}">
                    {% endif %}
                {% else %}
                    <a href="{% url 'pages:page_detail' first.slug %}">
                {% endif %}
                    <div class="image" style="background-image: url(/media/{{ first.img }});"></div>
                </a>
            </div>
            <div class="col-third">
                {% if not page.html %}
                    {% if not page.content %}
                        <a href="/projects/{{ first.slug }}">
                    {% else %}
                        <a href="{% url 'pages:page_detail' first.slug %}">
                    {% endif %}
                {% else %}
                    <a href="{% url 'pages:page_detail' first.slug %}">
                {% endif %}
                    <h3>{{ first.title }}</h3>
                </a>
                <p>{{ first.summary }}</p>
            </div>
        </div>
        <div class="demo">
            {% for triple in triplet %}
            <div class="row-wrap">
            {% for page in triple %}
                <div class="col-third article">
                    {% if not page.html %}
                        {% if not page.content %}
                            <a href="/projects/{{ page.slug }}">
                        {% else %}
                            <a href="{% url 'pages:page_detail' page.slug %}">
                        {% endif %}
                    {% else %}
                        <a href="{% url 'pages:page_detail' page.slug %}">
                    {% endif %}
                        <div class="sub-img" style="background-image: url(/media/{{ page.img }});"></div>
                    </a>
                    {% if not page.html %}
                        {% if not page.content %}
                            <a href="/projects/{{ page.slug }}">
                        {% else %}
                            <a href="{% url 'pages:page_detail' page.slug %}">
                        {% endif %}
                    {% else %}
                        <a href="{% url 'pages:page_detail' page.slug %}">
                    {% endif %}
                        <h3>{{ page.title }}</h3>
                    </a>
                    <p>{{ page.summary }}</p>
                </div>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
{% endblock %}