{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        @font-face {
            font-family: "linuxLibertineRegular";
            src: url('{% static "fonts/LinLibertine_R.ttf" %}');
        }

        @font-face {
            font-family: "linux libertine regular bold";
            src: url('{% static "fonts/LinLibertine_RB.ttf" %}');
        }

        @font-face {
            font-family: "mermaid";
            src: url('{% static "fonts/Mermaid1001.ttf" %}');
        }
    </style>
{% endblock %}

{% block content %}
    <div class="list-wrap">
        {% if featured %}
        <div class="featured" style="background-image: url('/media/{{ featured.featured_img }}');">
            <div class="featured__text">{{ featured.title }}</div>
        </div>
        {% endif %}
        <div class="filter">
            <div class="filter__section">
                <div class="filter__text filter__title">
                    Genre:
                </div>
                <div class="filter__text">
                    <a href="{% url 'pages:page_list' page=1 article_genre='current_events' %}">Current Events</a>
                </div>
                <div class="filter__text">
                    <a href="{% url 'pages:page_list' page=1 article_genre='opinion' %}">Opinion</a>
                </div>
                <div class="filter__text">
                    <a href="{% url 'pages:page_list' page=1 article_genre='sports' %}">Sports</a>
                </div>
                <div class="filter__text">
                    <a href="{% url 'pages:page_list' page=1 article_genre='entertainment' %}">Entertainment</a>
                </div>
                <div class="filter__text">
                    <a href="{% url 'pages:page_list' page=1 article_genre='science' %}">Science</a>
                </div>
                <div class="filter__text">
                    <a href="{% url 'pages:page_list' page=1 article_genre='dining' %}">Dining</a>
                </div>
            </div>
        </div>
        <div class="list">
            {% for page in pages %}
                {% if page.visible %}
                    <div class="list__item">
                        <a href="{% url 'pages:page_detail' page.slug %}">
                            <div class="list__img" style="background-image: url('/media/{{ page.img }}');"></div>
                            <div class="list__title">
                                {{ page.title }}
                            </div>
                            <div class="list__genre">
                                {% if page.genre %}
                                    {% if page.genre == "CE" %}
                                        current events
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="list__text">
                                {{ page.summary }}
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}