{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/detail1.css' %}">
{% endblock %}

{% block content %}
    <div class="detail__img" style="background-image: url('/media/{{ page.img }}');">
        <div class="detail__text--title">
            {{ page.title }}
        </div>
    </div>
    <div class="detail__text">
        <p>{{ page.author }}</p>
        <p>{{ page.date }}</p>
        {{ page.content | safe }}
    </div>
{% endblock %}